html {
    background-color: #00539F;
}

body {
    width: 600px;
    margin: auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #FF9500;
    text-align: center;
    text-shadow: 3px 3px 1px black;
}

img {
    width: 50px;
}